@import '../../../scss/mixins';


.Login {
  &__form {
    padding: 3.1rem 0 5.5rem 0;

    @include respond(mobile-l) {
      padding: 3.4rem 0 0;
    }
  }

  &__checkbox {
    margin-top: 2rem;
  }

  &__label {
    font-size: 1.2rem;
    color: var(--color-grey-dark);
    text-align: justify;
  }

  &__link--block{
    text-align: left;
    margin: 0 auto;
    @include respond(mobile-l) {
      width: 90%;
    }
  }
  &__link {
    font-size: 1.4rem;
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
    @include respond(mobile-l) {
      text-align: center;
    }
}

  &__footer {
    font-family: var(--font-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11.8rem;

    @include respond(mobile-l) {
      width: 90%;
      margin: 14rem auto 0;
    }

  }

  &__social {
    width: 100%;
    padding: 0 10rem;
    position: absolute;
    bottom: 11.8rem;
    left: 0;

    @include respond(mobile-l) {
      top: 32rem;
      padding: 0 var(--spacing-18);
    }

  }
}
