@import '../../../scss/mixins';

.UserDetailsViewFull {
  width: 100%;
  height: 100%;

  &__tabs-list {
    width: 50%;
    margin: auto;
    display: flex;
    padding-bottom: 2px;
    margin-bottom: var(--spacing-24);
  }

  &__tab-item {
    border-bottom: 2px solid var(--color-grey-dark);
    padding-bottom: 0.2rem;
    color: var(--color-grey-dark);
    cursor: pointer;
    flex: 1;
  }

  &__tab-item--active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
  }

  &__tab-title {
    @include sectionTitile;
  }

  &__container {
    width: 100%;
    @include centering-children;
  }
}


