@import '../../scss/mixins';

.Portfolio {
  &__container {
    overflow-y: auto;
    height: 20.2rem;
    padding-right: calc(0.25 * var(--gutter));
    @include vertical-scrollbar;

    @include respond(phone) {
      overflow-y: unset;
      overflow-x: auto;
      height: auto;
      padding-bottom: calc(0.25 * var(--gutter));
      @include horizont-scrollbar;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-12);
    justify-items: center;

    @include respond(phone) {
      display: flex;
    }
  }

  &__dummy {
    width: 100%;
    min-width: 16.2rem;
    height: 17.5rem;
    border: 1px dashed rgba(192, 200, 202, 0.5);
    border-radius: 8px;
  }
}

.PortfolioViewFull {
  &__list {
    overflow-x: auto;
    display: flex;
    @include horizont-scrollbar;
  }

  &__list > *:not(:last-child) {
    margin-right: 9px;
    margin-bottom: 1rem;
  }

  &__container {
  }
}
