@import "../../../../scss/mixins";
.VideoPlayer {
  iframe {
    width: 800px;
    height: 450px;
    @include respond(tab-port) {
      width: 550px;
      height: 310px;
    }
    @include respond(phone) {
      width: 400px;
      height: 220px;
    }
    @include respond(mobile-l) {
      width: 290px;
      height: 188px;
    }
  }

}