@import '../../../scss/mixins';

.Backdrop {
  position: fixed;
  z-index: -1;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &--open {
    display: block;
  }

  &--closed {
    display: none;
  }
}
