.UIV-marg-top {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-06);
}

.UserInfoVertically {
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__CreateWebPage-box {
    margin-top: auto;
  }
}
