.VideoPlayer {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
